$font-stack:    Helvetica, sans-serif;
$primary-color: #d3a91f;
$secondary-color: #141212;
$tertiary-color: #9100FF;

$width: 100%;
$space: 20px;

html, body, p , ul{
    margin: 0;
    padding: 0;
  }
  body {
    font: 100% $font-stack;
    color: $primary-color;
  
  }
  header{
      padding:$space*2 0 $space;
  }
  ul {
    list-style: none;

    li {
        margin: 0;
        display: inline;
        a {
            text-decoration: none;
            color: $primary-color;
            background: $secondary-color;
            padding: $space/4 $space/2;
            &:before{ 
                content:"~";
            }

        &:hover{
            transition: background-color 2s ease;
            background-color:$tertiary-color ;
        }
        }
    }
}


article {
    background: grayscale($primary-color);
    color: $secondary-color;
    padding: $space/2;

    &:nth-child(4n+2), &:nth-child(4n+3){
        grid-column: span 3;
        color:$primary-color;
        
    }
}
main {
    width: $width*.9;
    margin: 0 auto;
    background: $primary-color;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $space/2;

  }

  article:first-child , article:last-child {
      background: white;
  }



  article:nth-child(3) blockquote::before{
      content:open-quote; 
  }

  article:nth-child(3) blockquote::after{
    content:close-quote; 
}





  article:first-letter {
    font-size: 150%;
  }